---
import MainLayout from "../layouts/mainLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<MainLayout title="Blog" current_page="blog">
  <div class="container mx-auto flex flex-col gap-4 p-4">
    <h1 class="border-l-4 border-purple-400 pl-2 text-2xl font-semibold">
      Blog Posts
    </h1>
    <ul class="flex grid-cols-2 flex-col lg:grid">
      {
        allPosts.map((post) => (
          <li class="card mb-4 w-full p-4 shadow-lg">
            <a href={post.url} class="no-underline">
              <h2 class="card-title mb-2 text-xl font-bold">
                {post.frontmatter.title}
              </h2>
              <p class="text-sm opacity-40">
                Published on{" "}
                {new Date(post.frontmatter.pubDate).toLocaleDateString()} by{" "}
                {post.frontmatter.author}
              </p>
              <div class="divider" />
              <p>{post.frontmatter.description}</p>
              <div class="card-actions justify-end">
                <a href={post.url} class="btn btn-primary">
                  Read More
                </a>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
