---
import Header from "../components/header.astro";
import "../styles/global.css";

const { title, current_page, description = null, url = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valink Solutions | {title}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta
      name="description"
      content={description ||
        "Valink Solutions: Fusing Tradition With Innovation To Empower Communities. We bring cutting-edge technology and critical infrastructure to Indigenous communities while preserving cultural heritage. Our mission includes education in IT and cybersecurity and advocating for the integration of traditional medicine. Join us in advancing technology with respect for tradition."}
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content=`https://valink.io/${url}` />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=`Valink Solutions | ${title}` />
    <meta
      property="og:description"
      content={description ||
        "Valink Solutions: Fusing Tradition With Innovation To Empower Communities. We bring cutting-edge technology and critical infrastructure to Indigenous communities while preserving cultural heritage. Our mission includes education in IT and cybersecurity and advocating for the integration of traditional medicine. Join us in advancing technology with respect for tradition."}
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/documents/d89ec48c-482f-40d5-b050-b7503cf86a52.jpg?token=WY_dSKlOQlWI9qLTpD0BBuXApUB_Y5CxoKCCLbVCRCo&height=400&width=1200&expires=33248451307"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="valink.io" />
    <meta property="twitter:url" content=`https://valink.io/${url}` />
    <meta name="twitter:title" content=`Valink Solutions | ${title}` />
    <meta
      name="twitter:description"
      content={description ||
        "Valink Solutions: Fusing Tradition With Innovation To Empower Communities. We bring cutting-edge technology and critical infrastructure to Indigenous communities while preserving cultural heritage. Our mission includes education in IT and cybersecurity and advocating for the integration of traditional medicine. Join us in advancing technology with respect for tradition."}
    />
    <meta
      name="twitter:image"
      content={description ||
        "Valink Solutions: Fusing Tradition With Innovation To Empower Communities. We bring cutting-edge technology and critical infrastructure to Indigenous communities while preserving cultural heritage. Our mission includes education in IT and cybersecurity and advocating for the integration of traditional medicine. Join us in advancing technology with respect for tradition."}
    />
    <script
      defer
      src="https://stats.valink.io/script.js"
      data-website-id="e1627cb2-44ea-469c-bb5d-0296dae481b2"
    ></script>
  </head>
  <body class="flex h-screen flex-col container mx-auto m:max-w-[85%]">
    <!-- Header Section -->
    <Header current_page={current_page} />

    <div class="flex grow flex-col text-base-content">
      <slot />
    </div>

    <!-- Footer Section -->
    <footer class="p-4 text-base-content">
      <div
        class="container mx-auto flex flex-col-reverse items-center justify-between gap-4 lg:flex-row"
      >
        <blockquote
          class="order-1 flex-1 text-center opacity-75 lg:order-2 lg:text-right"
        >
          <p class="font-bold italic">
            "Fusing Tradition With Innovation To Empower Communities"
          </p>
        </blockquote>
        <p class="flex-1 text-center lg:order-1 lg:mt-0 lg:text-left">
          © {new Date().getFullYear()} Valink Solutions Ltd. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
