---
import MainLayout from "./mainLayout.astro";

const { frontmatter, title, current_page } = Astro.props;
---

<MainLayout
  title={frontmatter.title}
  current_page="blog"
  description={frontmatter.description}
  url=`posts/${frontmatter.slug}`
>
  <div class="mx-auto mb-10 p-6">
    <div
      class="prose prose-sm max-w-none text-center sm:prose lg:prose-lg xl:prose-xl prose-h1:mb-4 prose-p:my-2 lg:text-left"
    >
      <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
      <div class="flex flex-col justify-between text-gray-600 lg:flex-row">
        <p>
          Published on: <time datetime={frontmatter.pubDate} class="font-medium"
            >{frontmatter.pubDate.slice(0, 10)}</time
          >
        </p>
        <p>Written by: <span class="font-medium">{frontmatter.author}</span></p>
      </div>
    </div>
    <div class="divider"></div>
    <div
      class="prose prose-sm max-w-none sm:prose lg:prose-lg xl:prose-xl prose-h2:border-l-4 prose-h2:border-primary prose-h2:pl-3"
    >
      <slot />
    </div>
  </div>
</MainLayout>
